Body{
  font-family: Arial, sans serit;
  background-color: rgb(221, 167, 167);
}
.form-container{
  width: 50%;
  height: 40%;
  border-radius: 20px 20px 20px 20px;
  padding: 60px 60px 60px 60px;
  background-color: rgba(0, 1, 32, .6);
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 50%;
}
 h2{
  text-align: center;
  margin-top: 40px;
  color: white;
}
 input, textarea{
  display: block;
  padding: 20px 2px 0 20px;
  width: 100%;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
}
button{
 position: auto;
 font-size: 1.08rem;
 left: 50%; 
 transform: translate(-50%, +50%);
 background-color: pink;
 color: #000;
 border-radius:5px 5px 5px 5px;
 padding: 4px 4px 4px 4px;
 margin-right: 50%;
 margin-left: 50%;
}
button:hover{
  background-color: #fff;
}
label{
  text-align: center;
  margin: 10px 2px 2px 1px;
  font: 1.02rem;
  color: #fff;
  display: block
}
#name{
  display: block;
  margin-bottom: 5px;
}